.container{

    width: 80vw;
    margin: 0.5% auto 0.5% auto;
    height: 30vh;
    background-color:#ebc634;
    display: flex;
    padding:0;
    gap: 2px;
    

}

.coverArt{
    width: 20%;
    height: 100%;

   

}

.info{
    width: 40%;
    height: 100%;
    margin:0;
    

}

.misc{
    width: 40%;
    height: 100%;

}

.name{
    border: 1px solid red;
    font-size: 50px;
    padding:1%;

    
    

}
.date{
    border: 1px solid blue;
    padding:1%;
    

}

.genre{
    border: 1px solid orange;
    padding:1%;
}
.rating{
    border: 1px solid green;
    padding:1%;

}

.description{
    border: 1px solid greenyellow;

}

p{
    padding:0;
    margin:0;
}

