.textField {
    width: 50%;
    background-color: white;
    border-radius: 100px;
}

.searchbar {
    display: flex;
    justify-content: center;
    border: none;
    padding-top: 10%;
    padding-bottom: 15%;
    background-image: url(../img/searchbar-background.png);
}

.searchbar fieldset {
    border:none;
}